/* etiqueta { propiedad : valor ; } */

/* llamar a la etiqueta directo*/

body{background-color: beige;}

/llamar a una clase/
.titular{ background-color: lightblue; color: rgb(255, 0, 0) (158, 139, 139); font-size: 50px;}

/llamar a un id/

#titular3{ background-color: aquamarine; color: red;}

/*********/

.rojo{color: red;}
.borde{border: 1px solid black;}

#whatsapp{
    position: static;

}

#padding-interno
{padding: 10px;
margin: 10px;}