/* etiqueta { propiedad : valor ; } */

/* llamar a la etiqueta directo*/

body{background-color: beige;}



.titular{ background-color: lightblue; color: rgb(255, 0, 0) (158, 139, 139); font-size: 50px;}



#titular3{ background-color: aquamarine; color: red;}

/*********/

.rojo{color: red;}
.borde{border: 1px solid black;}

#whatsapp{
    position: static;

}

#padding-interno
{padding: 10px;
margin: 10px;}

#imagen-responsive{
    width: 20vw;
}

#cerro{
    width: 20vw;
}

*{
    font-weight: 600;
}

.contenedor-centrado{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

#pond{
    display: flex;
    justify-content: flex-end;
}